* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: #000;
    position: absolute;
}

.pickerbox {
    margin: 0 auto;
    min-width: 50%;
    max-width: 70%;
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    background-color: #222;
    box-shadow: -10px 10px #111;
    border: 1px dashed #333;
}

.title {
    text-align: center;
    text-transform: lowercase;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    text-shadow: -5px 5px 0px rgb(0, 0, 0);
    font-family: monospace;
    font-size: 45px;

}

.controles {
    padding: 5px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    align-items: center;
}

.controles .text {
    box-shadow: -3px 3px #000;
    display: grid;
    align-items: center;
    height: 3em;
    margin-right: 10%;
    border: 1px dashed #333;
}
.controles .text input {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    background-color: unset;
    width: 100%;
    text-align: center;
    background-color: unset;
}

.controles .sliderBox {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: unset;
}

.controles .colorBox {
    display: grid;
    align-items: center;
    padding: 25%;
    background-color:rgb(0, 0, 0);
    margin-left: 15%;
    height: 3em;
    box-shadow: -3px 3px #000;
    border: 1px dashed #333;
}

background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;
animation: rainbow 18s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px black;

@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

